<div class="ratio ratio-16x9 mb-3">
    <iframe 
        src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        *ngIf="showRickRoll"></iframe>
</div>

<div class="d-flex flex-column align-items-center justify-content-center">
    <button mat-raised-button color="primary" (click)="onBtnClicked()">v0.0.1</button>
</div>

<ng-template #snackBarTemplate>
    Rickrolled!!
</ng-template>