<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>
        <h2>Total Accumulated Spendings</h2>
      </mat-card-title>
      <mat-card-subtitle>RM {{totalAccumulatedSpending | number : '1.2-2'}}</mat-card-subtitle>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-title>
        <h2>Total Expenses Count</h2>
      </mat-card-title>
      <mat-card-subtitle>{{totalExpensesCount}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
<br>
<mat-card>
  <h2>Calendar View</h2>
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"></mwl-calendar-month-view>
</mat-card>