<button mat-raised-button color="primary" (click)="addRecord()">Add Record</button>

<div class="table-responsive">
  <table datatable class="table table-hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of expensesList">
        <td>{{ e.name }}</td>
        <td>{{ e.category }}</td>
        <td>RM {{ e.amount | number : '1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>